<div class="container body-content">
     <h3>About MY Blog</h3><br>
    <p>This is my first try to make a blog out of HTML and Javascript.</p>
    <p>So its probably a bit sloppy, but it will get better.</p>
</div>